.Box {
	outline: 1px solid black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.Column {
/*	flex-grow: 1; */
	outline: 1px solid black;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;

	padding: 5px 5px;
	margin: 5px;
}

.Cell {
	outline: 1px solid black;
	width: 300px;
	box-shadow: 2px 2px 2px grey;
	background-color: #eee;
	margin: 3px 0;
}

.Cell > ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
