.Box {
	background-color: pink;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.Column {
/*	flex-grow: 1; */
	background-color: tan;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;

	padding: 5px 5px;
	margin: 5px;
}

.Cell {
	background-color: lightgreen;
}
